{%extends 'base.html'%}
{% block content %}
<div class="container mt-5 m-auto mb-5"
    style="height: 100%;">
    <div>
        <h2 class="section-title"
            style="margin-top: 115px; font-weight: 500;">Profile Details</h2>
        <a href="{% url 'register' %}"
            class="btn btn-primary mt-2 mb-5"><i class="fas fa-edit"
                aria-hidden="true"></i></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Full Name</th>
                <th>Education</th>
                <th>Date</th>
                <th>Status</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>SSC</td>
                <td>2022-03-26</td>
                <td>Pending</td>
                <td><button class="btn btn-primary">Review</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>Degree</td>
                <td>2022-03-25</td>
                <td>Approved</td>
                <td><button class="btn btn-primary">Review</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}